.navbar-brand img {
    height: 30px;
}

.navbar {
    background: linear-gradient(180deg, rgba(9,9,121,1) 0%, rgb(9, 54, 121) 45%, rgba(9,9,121,1) 100%);
}

header {
    padding-bottom: 20px;
}

body {
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-image: url(assets/img/fondo-estrellas.png)
}

main {
    background-color: rgba(0, 0, 0, 70%);
    border-radius: 20px;
    margin-bottom: 40px;
}

main h2 {
    padding-top: 10px;
}

footer div {
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-end-end-radius: 0px;
    background: linear-gradient(180deg, rgba(9,9,121,1) 0%, rgb(9, 54, 121) 45%, rgba(9,9,121,1) 100%);
}